# Ansible Config (Best Practices)
# Place this in the root of your project (or ~/.ansible.cfg)

[defaults]
# Inventory location (can be a file or a directory)
inventory = ./inventory

# Roles path (optional, but good practice)
roles_path = ./roles

# Disable SSH key host checking (Convenient for transient cloud/lab VMs)
# WARNING: Enable this in Production for security!
host_key_checking = False

# Pretty print output (requires 'community.general' collection usually, or just 'yaml' callback)
stdout_callback = yaml
stderr_callback = yaml

# Forks: Number of parallel processes (Default is 5)
forks = 10

# default user to use for playbooks if user is not specified
# remote_user = root

[privilege_escalation]
# Enable sudo
become = True
become_method = sudo
become_user = root
# become_ask_pass = False
